* {
    box-sizing: border-box;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

body {
  overflow: hidden;
    background-color: rgb(21, 28, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: normal;
    background: url("BG.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: url("cursor.cur"), auto;
    /* transform: translatey(0px);
  animation: float 6s ease-in-out infinite; */
}
.leftColumn {
    justify-content: space-between;
  }
  .rightColumn {
    align-content: normal;
  }
  .rightColumn:first-child {
    margin-right: 20px;
    justify-content: space-between;
  }
  .quiz-container {
    border-radius: 10px;
  }
  li {
    list-style-type: none;
  }
  .darkbox {
    height: 178px;
    width: 345px;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    padding: 0px;
    border-style: hidden;
    outline: none;
  }
  .quiztime {
    color: #20237B;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: left;
    vertical-align: text-top;
    font-size: 72px;
    font-family: 'Alien', sans-serif;
    line-height: auto;
    width: 219px;
    border-radius: 15px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgba(144, 255, 146, 0.815), -1px -1px #444;
  }
  h2 {
    color: #0ff;
    text-align: center;
    font-size: 25px;
    font-family: "Share Tech", sans-serif;
    margin: 0;
  }
  .rectangle3 {
    display: flex;
    background-color: #364490;
    height: 178px;
    width: 345px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
  }
  .infoboxopening {
    background-color: #AAFFFF;
    height: 210px;
    width: 435px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    /* padding-left: 42px;
    padding-right: 42px;
    padding-top: 10px;
    padding-bottom: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-top: 7%;
  }
  .infoboxopening {
    color: rgba(32, 35, 123, 0.75);
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    font-family: "Share Tech", sans-serif;
    border-style: hidden;
    outline: none;
    display: flex;
    justify-content: center;
    padding-top: 4%;
    box-shadow: 1px 1px 30px 5px #0ff;
    
  }
  .rectangle7 {
    width: 525px;
    height: 479px;
    left: 728px;
    top: 146px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#AEF497, #B892FF, #B892FF);
    border-bottom: 1px solid rgba(0, 0, 0, 0.74);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px -4px 11px #AFF497, inset -5px -7px 20px 12px #20247B,
      0px 0px 20px 20px #20247B, inset 0px 4px 4px rgba(175, 244, 151, 0.64);
    border-radius: 15px;
  }
  .rectangle6 {
    background-color: #AFF497;
    width: 335.88px;
    height: 305px;
    left: 1159.43px;
    top: 219px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(3px 4px 10px rgb(87, 40, 119));
    border-radius: 15px;
    box-shadow: 2px 4px 4px 2px #C5E8BA inset;
    border-radius: 15px;
    /* border: 1px solid #AFF497; */
    box-shadow: 1px 1px 30px 5px #AFF497;
    font-size: 15px;
    padding: 6px 24px;
    text-decoration: none;
  }
  #title-box {
    background-color: #364490;
    height: 178px;
    width: 345px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    box-shadow: 4px 1px 30px 5px rgba(52, 27, 128, 0.666) inset;
    box-shadow: 1px 1px 10px 3px #8bf39973 inset;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .scroller {
        width: 90%;
        height: 90%;
        padding-right: 1%;
        overflow-y: scroll;
        /* scrollbar-color: rebeccapurple green;
        scrollbar-width: thin; */
      }

  .scroller::-webkit-scrollbar{
        width: 100%;
   }
   
  .start {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-family: 'Alien', sans-serif;
    font-style: normal;
    font-size: 72px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    /* pinkTextfill */
    color: #B892FF;
    /* 3dboxfx */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    
  }
  .rectangle6:hover {
    background: radial-gradient(#7c51ccb4, #B892FF);
    box-shadow: 0px 0px 12px #AFF497, inset 0px 0px 10px 20px #20257b7c,
      inset 0px 0px 0px 0px #7c51cc9e, inset 0px -4px 11px #AFF497;
  }
  a,
  .start:hover {
    text-shadow: 0px 1px 0px;
    transition-timing-function: ease;
    transition: 0.4s;
    color: #AFF497;
    padding: 124px 41px;
    /* box-shadow: 0px 0px 12px #AFF497; */
    border-radius: 15px;
    cursor: url("cursor.cur"), auto;
  }


  #footer{
    background-color: #B892FF;
    opacity: 0.80;
    color: #20237B;
    position:fixed;
    bottom:0;
    font-family: 'Axial cut', sans-serif;
    font-size: medium;
    border-radius: 15px;
    padding: 0px;
    padding-top:0px;
    margin: 0px;
    width:100%;
    text-align:center;
}
#footer p{
  padding:0;
  margin:0;
  font-weight: bold;
}


  @media screen and (max-width: 812px) {
    body,
    div {
      display: flex;
      flex-wrap: nowrap;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2vh;
      margin-top: 2vh;
      padding: auto;
      height: fit-content;
    }
    .rightColumn .leftColumn {
      width: 30vw;
      height: 30vh;
    }
    .rectangle7 {
      width: 91vw;
      height: 45vh;
    }
    .greenbox {
      width: 33vw;
      height: 45vh;
    }
    a {
      height: 69vh;
      padding: auto;
      width: 91vw;
    }
    .rectangle6 {
      width: 69vw;
      height: 31vh;
    }
    .infoboxopening {
      width: 91vw;
      height: 45vh;
      line-height: 2.4vh;
    }
    #title-box {
      width: 91vw;
      height: 31vh;
    }
    .start {
      font-size: 9vh;
    }
  }
  
  
  
  @media screen and (min-width: 1084px){
    body{
      flex-direction: row;
      justify-content: center;
    }
    #leftColumn {
      margin-right: 10%;
    }




  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  