@import "./components/Utils/Utils.scss";
* {
  font-family: "cherry bomb", sans-serif;
  margin: 0;
  padding: 0;
}
button {
  border-radius: 10px;
  background: $orange;
  color: $white;
  @include text-size;
  @include text-shadow;
  font-weight: 100;
  padding: 10px;
  @include object-shadow;
  cursor: pointer;
}
button:hover {
  color: lightgrey;
}
html {
  background-color: $black;
  min-height: 100%;
}
